<h2>Import Certificate</h2>

<%= form_for(@cert, url: {controller: 'foreman_cfssl/certs', action: 'import_save'}) do |f| %>
<%= text_f f, :owner_email %>
<%= textarea_f f, :pem, {rows: 20} %>
<%= textarea_f f, :key, {rows: 20} %>

<div><%= f.submit 'Import', class: 'btn btn-primary' %></div>
<% end %>
