<% title "Certificates" %>

<% title_actions new_link('Generate'),
link_to("Import", import_path, class: "btn btn-primary") %>

<table class="<%= table_css_classes 'table-fixed' %>">
  <thead>
    <tr>
      <th>Owner</th>
      <th>Common Name</th>
      <th>SANs</th>
      <th>Issuer</th>
      <th>Invalid After</th>
    </tr>
  </thead>
  <tbody>
    <% @certs.each do |cert| %>
      <tr>
        <td><%= cert.owner_email %></td>
        <td><%= cert.subject_info['common_name'] %></td>
        <td>
          <ul>
            <% cert.sans_info.each do |san| %>
            <li><%= san %></li>
            <% end %>
          </ul>
        </td>
        <td><%= cert.issuer_info['common_name'] %></td>
        <td><%= cert.not_after %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate_with_info @certs %>
